{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger">Event creation</h1>

    <div class="bg-dark p-3 text-white">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-warning"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('events_index') }}" class="btn btn-success">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
